<%- include('partials/header') %>

<div class="container mt-5 centered">

  <img src="https://iili.io/Pi86y7.png" alt="app-logo" width="100" height="100">

  <h1>Register</h1>

  <div class="row">
    <div class="col-sm-8">
      <div class="card">
        <div class="card-body">

          <!-- Makes POST request to /register route -->
          <form action="/register" method="POST">
            <div class="form-group">
                <label for="first_name">First Name</label>
                <input type="text" class="form-control" name="first_name">
              </div>
              <div class="form-group">
                <label for="last_name">Last Name</label>
                <input type="text" class="form-control" name="last_name">
              </div>
              <div class="form-group">
                <label for="email_address">Email</label>
                <input type="email" class="form-control" name="email_address">
              </div>
            <div class="form-group">
              <label for="phone_no">Phone Number</label>
              <input type="text" class="form-control" name="phone_no">
            </div>
            <div class="form-group">
              <label for="user_password">Password</label>
              <input type="password" class="form-control" name="user_password">
            </div>
            <button type="submit" class="btn btn-dark">Register</button>
          </form>

        </div>
      </div>
    </div>

  </div>
</div>

<%- include('partials/footer') %>
